<mat-toolbar>
    <div class="sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    <h1>Star Wars Character Creation</h1>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
        <a *ngFor="let section of pages" [routerLink]="section.link" routerLinkActive="activeLink"
            [routerLinkActiveOptions]="{exact: true}">{{ section.name }}<br>
        </a>
    </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>
